/* styles/navbar.css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #3498db;
  color: #fff;
  z-index: 1000;
  overflow: hidden;
}

.navbar-left {
  display: flex;
  align-items: center;
}

/* Logo Style */
.logo1 {
  width: 120px;
  font-family: 'Courier New', Courier, monospace;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navbar-right {
  display: flex;
  gap: 20px;
}

.nav-link {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 15px; /* Adjust padding for smaller screens */
  }

  .navbar-left, .navbar-right {
    margin: 10px 0;
  }
}
